<!--<g:form controller="question" action="redact">
    <g:submitButton class="btn btn-success" name="${message(code: 'question.ask.button')}"/>
</g:form>-->

<div class="qa-main">
    <h1>
        <a ng-href="#!/question/display/{{question.id}}">
            <span class="entry-title">{{question.title}}</span>
        </a>

        <i ng-if="question.resolved" class="fa fa-check" aria-hidden="true"></i>
        <!-- TODO <g:else>
            <g:isOwner owner="${this.question.user}">
                <g:form controller="question" action="resolve" id="${this.question.id}">
                    <g:submitButton class="btn btn-success" name="${message(code: 'question.mark.resolved.button')}"/>
                </g:form>
            </g:isOwner>
        </g:else>
        -->
    </h1>

    <div class="qa-part-q-view">
        <div class="qa-q-view  hentry question" id="question_${this.question.id}">
            <form>
            <!-- TODO <g:form controller="vote" action="performVote">-->
                <div class="qa-q-view-stats">
                    <div sf-question-votes post="question" votes="questionVotes"></div>
                    <span class="qa-view-count">
                        <span class="qa-view-count-data">{{question.views}}</span>
                        <span class="qa-view-count-pad"> {{question.views > 1 ? 'question.display.views' : 'question.display.view' | translate }}</span>
                    </span>
                </div>
            </form>

            <div class="qa-q-view-main">
                <span class="qa-q-view-avatar-meta">
                    <span class="qa-q-view-avatar">
                        <a ng-href="#!/user/profile/{{question.user.id}}" class="qa-avatar-link">
                            <img src="assets/images/avatar.jpg" width="50" height="50" class="qa-avatar-image" alt="">
                        </a>
                    </span>
                    <span class="qa-q-view-meta">
                        <a ng-href="#!/question/display/{{question.id}}" class="qa-q-view-what">
                            {{'question.display.Asked' | translate }}
                        </a>
                        <span class="qa-q-view-when">
                            <span class="qa-q-view-when-data">
                                <span class="published updated">
                                    <span class="value-title">{{question.dateCreated | date: 'medium'}}</span>
                                </span>
                            </span>
                        </span>
                        <span class="qa-q-view-who">
                            <span class="qa-q-view-who-pad">{{'question.display.by' | translate }} </span>
                            <span class="qa-q-view-who-data">
                                <span class="vcard author">
                                    <a ng-href="#!/user/profile/{{question.user.id}}" id="{{question.user.id}}" class="qa-user-link url fn entry-title nickname">
                                        {{question.user.username}}
                                    </a>
                                </span>
                            </span>
                        </span>
                        <!-- TODO <sec:ifLoggedIn>
                            <g:if test="${this.currentUser.id == question.user.id}">
                                <span>
                                    <g:form controller="question" action="redactEdit" id="${this.question.id}">
                                        <g:submitButton title="${message(code: 'question.show.edit.button.tooltip')}" name="edit" value="${message(code: 'question.show.edit.button.label')}" />
                                    </g:form>
                                </span>
                            </g:if>
                        </sec:ifLoggedIn>-->
                    </span>
                </span>

                <div class="qa-q-view-content">
                    <div class="entry-content">
                        {{question.message}}
                    </div>
                </div>

                <div class="qa-q-view-extra">
                </div>

                <div class="qa-q-view-tags">
                    <ul class="qa-q-view-tag-list">
                        <li ng-repeat="tag in question.tags" class="qa-q-view-tag-item">
                            <a ng-href="#!/tag/display/{{tag.id}}" class="qa-tag-link">
                                {{tag.tag}}
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="qa-q-view-buttons" ng-app="segFault.post" ng-controller="RedactPostCtrl as redactCtrl">
                    <a ng-click="redactCtrl.setPost(question.id)"
                       ng-href="#!/answer/redact"
                       name="question_{{question.id}}"
                       title="{{'question.display.addAnswerTooltip' | translate}}"
                       class="redact qa-form-light-button qa-form-light-button-answer">
                        {{'question.display.answer' | translate}}
                    </a>
                </div>
            </div> <!-- End qa-q-view-main -->

        </div>  <!-- End qa-q-view -->
    </div>  <!-- End qa-part-q-view -->

    <div class="qa-part-a-form">
    <!--<div class="qa-a-form" id="anew" style="display:none;">
            <h2>Please <a href="">log in</a> or <a href="">register</a> to answer this question.</h2>
        </div>--> <!-- END qa-a-form -->
    </div> <!-- End qa-part-a-form -->

    <div class="qa-part-a-list">
        <h2 id="a_list_title">{{answers.length}} {{answers.length > 1 ? 'question.display.Answers' : 'question.display.Answer' | translate}}</h2>
        <div class="qa-a-list" id="a_list">
            <div ng-repeat="answerAssoc in answers" class="qa-a-list-item  hentry answer" id="answer_${answer.id}">
                <data ng-init="answer = answerAssoc.answer"></data>
                <form>
                <!-- TODO <g:form controller="vote" action="performVote">-->
                    <div sf-question-votes post="answer" votes="answerAssoc.votes"></div>
                </form>

                <div class="qa-a-item-main">
                    <span class="qa-a-item-avatar-meta">
                        <span class="qa-a-item-avatar">
                            <a ng-href="#!/user/profile/{{answer.user.id}}" class="qa-avatar-link">
                                <img src="assets/images/avatar.jpg" width="40" height="40" class="qa-avatar-image" alt="">
                            </a>
                        </span>
                        <span class="qa-a-item-meta">
                            <a ng-href="#!/answer/display/{{answer.id}}" id="{{answer.id}}" class="qa-a-item-what">
                                {{'question.display.Answered' | translate}}
                            </a>
                            <span class="qa-a-item-when">
                                <span class="qa-a-item-when-data">
                                    <span class="published updated">
                                        <span class="value-title">
                                            {{answer.dateCreated | date: 'medium'}}
                                        </span>
                                    </span>
                                </span>
                            </span>
                            <span class="qa-a-item-who">
                                <span class="qa-a-item-who-pad">{{'question.display.by' | translate}} </span>
                                <span class="qa-a-item-who-data">
                                    <span class="vcard author">
                                        <a ng-href="#!/user/profile/{{answer.user.id}}" class="qa-user-link url fn entry-title nickname">
                                            {{answer.user.username}}
                                        </a>
                                    </span>
                                </span>
                            </span>
                            <!--<sec:ifLoggedIn>
                                <g:if test="${this.currentUser.id == answer.user.id}">
                                    <span>
                                        <g:form controller="answer" action="redactEdit" id="${answer.id}">
                                            <g:submitButton title="${message(code: 'question.show.edit.answer.button.tooltip')}" name="edit" value="${message(code: 'question.show.edit.answer.button.label')}" />
                                        </g:form>
                                    </span>
                                </g:if>
                            </sec:ifLoggedIn>-->
                        </span>
                    </span>

                    <form>
                    <!-- TODO <g:form controller="comment" action="redact">-->
                        <div class="qa-a-selection">
                        </div>
                        <div class="qa-a-item-content">
                            <div class="entry-content">
                                {{answer.message}}
                            </div>
                        </div>
                        <div class="qa-a-item-buttons">
                            <input name="answer_{{answer.id}}"
                                   title="{{'question.display.addCommentTooltip' | translate}}"
                                   value="{{'question.display.comment' | translate}}"
                                   class="qa-form-light-button qa-form-light-button-comment"
                                   type="submit">
                            <input type="hidden" name="answer" value="{{answer.id}}">
                        </div>
                    </form>
                    <div class="qa-a-item-c-list" id="comment_{{answer.id}}_list">
                        <div ng-repeat="comment in answer.comments" class="qa-c-list-item  hentry comment" id="comment_{{comment.id}}">
                            <span class="qa-c-item-avatar-meta">
                                <span class="qa-c-item-avatar">
                                    <a ng-href="#!/user/profile/{{comment.user.id}}" class="qa-avatar-link">
                                        <img src="assets/images/avatar.jpg" width="20" height="20" class="qa-avatar-image" alt="">
                                    </a>
                                </span>
                                <span class="qa-c-item-meta">
                                    <a ng-href="#!/comment/display/{{comment.id}}" class="qa-c-item-what">
                                        {{'question.display.Commented' | translate}}
                                    </a>
                                    <span class="qa-c-item-when">
                                        <span class="qa-c-item-when-data">
                                            <span class="published updated">
                                                <span class="value-title">{{comment.dateCreated | date: 'medium'}}</span>
                                            </span>
                                        </span>
                                    </span>
                                    <span class="qa-c-item-who">
                                        <span class="qa-c-item-who-pad">{{'question.display.by' | translate}} </span>
                                        <span class="qa-c-item-who-data">
                                            <span class="vcard author">
                                                <a ng-href="#!/user/profile/{{comment.user.id}}" class="qa-user-link url fn entry-title nickname">
                                                    {{comment.user.username}}
                                                </a>
                                            </span>
                                        </span>
                                    </span>
                                    <!-- TODO <sec:ifLoggedIn>
                                        <g:if test="${this.currentUser.id == comment.user.id}">
                                            <span>
                                                <g:form controller="comment" action="redactEdit" id="${comment.id}">
                                                    <g:submitButton title="${message(code: 'question.show.edit.comment.button.tooltip')}" name="edit" value="${message(code: 'question.show.edit.comment.button.label')}" />
                                                </g:form>
                                            </span>
                                        </g:if>
                                    </sec:ifLoggedIn>-->
                                </span>
                            </span>
                            <div class="qa-c-item-content">
                                <div class="entry-content">{{comment.message}}</div>
                            </div>
                            <div class="qa-c-item-clear">
                            </div>
                        </div> <!-- END qa-c-item -->
                    </div> <!-- END qa-c-list -->

                </div> <!-- END qa-a-item-main -->
                <div class="qa-a-item-clear">
                </div>
            </div> <!-- END qa-a-list-item -->
        </div>
    </div> <!-- End qa-part-a-list -->
</div> <!-- End qa-main -->