<a ng-href="#!/question/redact" class="redact btn btn-success">
    {{ 'question.button.ask.new' | translate }}
</a>
<br/><br/>

<p>
    {{ 'question.home.fact' | translate: { fact: randomSentence } }}
</p>
<div>
    <h1>{{ 'question.home.titles.mostRecent' | translate }}</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center">{{ 'question.home.titles.question' | translate }}</th>
                <th class="text-center">{{ 'question.home.titles.tags' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="question in recents" sf-question-entry question="question"></tr>
        </tbody>
    </table>

    <div>
        <h1>{{ 'question.home.titles.byCat' | translate }}</h1>
        <div ng-repeat="(tag, questions) in questionsByCat">
            <h2>{{tag}}</h2>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">{{ 'question.home.titles.question' | translate }}</th>
                        <th class="text-center">{{ 'question.home.titles.tags' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="question in questions" sf-question-entry question="question"></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
