<div class="qa-voting qa-voting-net" id="voting_{{post.id}}">
    <div class="qa-vote-buttons qa-vote-buttons-net">
        <input name="vote"
               title="{{'question.display.voteUpTooltip' | translate}}"
               value="/\"
               class="qa-vote-first-button"
               type="submit">
        <input name="vote"
               title="{{'question.display.voteDownTooltip' | translate}}"
               value="\/"
               class="qa-vote-second-button"
               type="submit">
        <input type="hidden" name="post" value="{{post.id}}">
    </div>
    <div class="qa-vote-count qa-vote-count-net">
        <span class="qa-netvote-count">
            <span class="qa-netvote-count-data">{{votes >= 0 ? '+' : ''}}{{votes}}</span>
            <span class="qa-netvote-count-pad">{{votes > 1 || -votes > 1 ? 'question.display.votes' : 'question.display.vote' | translate }}</span>
        </span>
    </div>
    <div class="qa-vote-clear">
    </div>
</div>