<!--<div>
    <g:form controller="question" action="redact">
        <g:submitButton class="btn btn-success" name="${message(code: 'question.ask.button')}"/>
    </g:form>
</div>-->
<p>
    {{ 'question.home.fact' | translate: { fact: randomSentence } }}
</p>
<div>
    <h1>{{ 'question.home.titles.mostRecent' | translate }}</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center">{{ 'question.home.titles.question' | translate }}</th>
                <th class="text-center">{{ 'question.home.titles.tags' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="question in recents">
                <td class="text-center">
                    <!--<h4><g:link action="display" id="${question.id}">${question.title}</g:link></h4>-->
                    <h4>{{question.title}}</h4>
                </td>
                <td class="text-center">
                    <h4 ng-repeat="tag in question.tags" style="display:inline-block;">
                        <!--<g:link controller="tag" action="show" id="${tag.tag.id}">-->
                            <div class="label label-default right-margin-10">
                                {{tag.tag}}
                            </div>
                        <!--</g:link>-->
                    </h4>
                </td>
            </tr>
        </tbody>
    </table>

    <div>
        <h1>{{ 'question.home.titles.byCat' | translate }}</h1>
        <div ng-repeat="(tag, questions) in questionsByCat">
            <h2>{{tag}}</h2>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">{{ 'question.home.titles.question' | translate }}</th>
                        <th class="text-center">{{ 'question.home.titles.tags' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="question in questions">
                        <td class="text-center">
                            <h4>
                                <!--<g:link action="display" id="${question.id}">${question.title}</g:link>-->
                                {{question.title}}
                            </h4>
                        </td>
                        <td class="text-center">
                            <h4 ng-repeat="tag in question.tags" style="display:inline-block;">
                                <!--<g:link controller="tag" action="show" id="${tag.tag.id}">-->
                                    <div class="label label-default right-margin-10">
                                        {{tag.tag}}
                                    </div>
                                <!--</g:link>-->
                            </h4>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>