<div class="col-md-8">
    <h3>
        {{'user.profile.edit.description' | translate}}
    </h3>

    <form name="userEditProfileForm" novalidate ng-app="segFault" ng-controller="EditProfileCtrl as editProfileCtrl">
        <textarea maxlength="65535"
                  name="uDescription"
                  autofocus="autofocus"
                  ng-model="description"
                  placeholder="{{'placeholder.field.user.description' | translate}}"
                  rows="6"
                  class="form-control">
        </textarea>
        <div ng-show="userEditProfileForm.$submitted || userEditProfileForm.uDescription.$touched" class="text-center error">
            <span ng-show="userEditProfileForm.uDescription.$error.maxlength">{{'error.user.edit.profile.description.tooLong' | translate}}</span>
        </div>

        <div ng-show="userEditProfileForm.$pristine && userEditProfileForm.uDescription.$untouched" class="text-center error">
            <span ng-show="descriptionError">{{descriptionError | translate}}</span>
        </div>

        <div ng-show="userEditProfileForm.$pristine && userEditProfileForm.uDescription.$untouched && otherErrors && otherErrors.length > 0">
            <div ng-repeat="error in otherErrors" class="text-center error">
                <span>{{error | translate}}</span>
            </div>
        </div>

        <br/>

        <input name="Submit"
               ng-click="editProfileCtrl.edit()"
               title="{{'user.profile.edit.button.editDescriptionTooltip' | translate}}"
               value="{{'user.profile.edit.button.label' | translate}}"
               class="btn btn-success"
               type="submit">
    </form>
</div>
